@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 270 47.4% 11.2%; /* Dark Purple */
    --primary-foreground: 270 40% 98%; /* Light Purple */

    --secondary: 270 40% 96.1%; /* Light Purple */
    --secondary-foreground: 270 47.4% 11.2%; /* Dark Purple */

    --muted: 270 40% 96.1%; /* Light Purple */
    --muted-foreground: 270 16.3% 46.9%; /* Silver */

    --accent: 270 40% 96.1%; /* Light Purple */
    --accent-foreground: 270 47.4% 11.2%; /* Dark Purple */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 270 40% 98%; /* Light Purple */

    --border: 270 31.8% 91.4%; /* Silver */
    --input: 270 31.8% 91.4%; /* Silver */
    --ring: 270 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 270 84% 4.9%; /* Dark Purple */
    --foreground: 270 40% 98%; /* Light Purple */

    --card: 270 84% 4.9%; /* Dark Purple */
    --card-foreground: 270 40% 98%; /* Light Purple */

    --popover: 270 84% 4.9%; /* Dark Purple */
    --popover-foreground: 270 40% 98%; /* Light Purple */

    --primary: 270 40% 98%; /* Light Purple */
    --primary-foreground: 270 47.4% 11.2%; /* Dark Purple */

    --secondary: 270 32.6% 17.5%; /* Dark Purple */
    --secondary-foreground: 270 40% 98%; /* Light Purple */

    --muted: 270 32.6% 17.5%; /* Dark Purple */
    --muted-foreground: 270 20.2% 65.1%; /* Silver */

    --accent: 270 32.6% 17.5%; /* Dark Purple */
    --accent-foreground: 270 40% 98%; /* Light Purple */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 270 40% 98%; /* Light Purple */

    --border: 270 32.6% 17.5%; /* Dark Purple */
    --input: 270 32.6% 17.5%; /* Dark Purple */
    --ring: 270 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(135deg, hsl(270, 47.4%, 11.2%), hsl(270, 16.3%, 46.9%), hsl(270, 40%, 96.1%));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}